venv/
__pycache__/
*.pyc
instance/fitness_app.db
backend/encryption.key
.env
results/
fl_training_data.csv

# Python
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
system_design.md
foodie.csv
